.container{
  position: absolute;
  top: 115px;
  left: 270px;
}

.cardContainer {

  /* width: 100%; */
  width: 1200px;
  max-width: 1200px;
  height: auto;
  /* border: 2px solid rgb(6, 220, 67); */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px opx;
  scroll-behavior: smooth;
  position: relative;
  
  z-index: 0;
}

.link{
  text-decoration: none
}