.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 99.3vw;
  height: auto;
  overflow: hidden;
  box-sizing: border-box;
  object-fit: cover;
}

.imgContainer {
  width: 100vw;
  position: relative;
}

.ratingContainer {
  justify-content: center;
  display: inline-flex;
  align-items: center;
  position: absolute;
  right: 10%;
  top: 0%;
  width: 10%;
  height: 32%;
}
.star {
  margin: 2%;
  width: 20%;
  height: 20%;
}
.rating {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 25px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #ffffff;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}
.img {
  box-sizing: border-box;
  overflow: hidden;
  object-fit: cover;
  width: 100%;
  height: 800px;
  transition: all 0.3s ease-in-out;
}
.addImg {
  box-sizing: border-box;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.imgScrolled {
  box-sizing: border-box;
  overflow: hidden;
  object-fit: cover;
  width: 100%;
  height: 800px;
  filter: blur(2px);
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
}

.dataContainer {
  opacity: 0;
  transform: translateY(20%);
  position: absolute;
  bottom: 0px;
  padding: 20px 40px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(16, 16, 16, 0.864) 0%,
    rgba(16, 16, 16, 0.864) 63%,
    rgba(32, 32, 32, 0.481) 92%,
    rgba(32, 32, 32, 0.021) 100%
  );
  transition: all 0.3s ease-in-out;
}

.dataContainerScrolled {
  opacity: 1;
  position: absolute;
  bottom: 0px;
  padding: 20px 40px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(16, 16, 16, 0.864) 0%,
    rgba(16, 16, 16, 0.864) 63%,
    rgba(32, 32, 32, 0.481) 92%,
    rgba(32, 32, 32, 0.021) 100%
  );
  transition: all 0.3s ease-in-out;
}

.description {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 13px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #ffffff;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

.name {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 25px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #ffffff;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

.nameDescriptionContainer {
}
.extraData {
  display: flex;
  justify-content: center;
  margin: 2% 0% 0%;
  width: 90%;
  height: 400px;
}
.extraDataImg {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  width: 48%;
  height: 100%;
  margin: 0% 3%;
  border-radius: 4%;
  overflow: hidden;
}
.extraDataText {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  width: 37%;
  height: 100%;
  border-radius: 5%;
  overflow: hidden;
}

.link {
  text-decoration: none;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin: 0px 10px;
  width: 45%;
  height: 20%;
}
.longBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin: 0% 3% 0% 0%;
  width: 93%;
  height: 20%;
}
.blockTitle {
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;
  word-spacing: 2px;
  color: #838383;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  height: 30%;
  width: 100%;
}
.blockText {
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;
  word-spacing: 2px;
  color: #ffffff;
  font-weight: 300;
  text-decoration: underline solid rgb(103, 103, 103);
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  height: 30%;
  width: 100%;
}

.genres {
  margin: 0px 0px 30px 0px;
  text-align: left;
  width: 70%;
  font-family: Georgia, serif;
  font-size: 16px;
  letter-spacing: 2.8px;
  word-spacing: 0.8px;
  color: #b7a51e;
  font-weight: 450;
  text-decoration: none;
  font-style: italic;
  font-variant: small-caps;
  text-transform: none;
}

.relatedTitle {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 25px;
  letter-spacing: 2px;
  text-align: center;
  word-spacing: 2px;
  color: #ffffff;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  margin: 5% 0% 0%;
}
.relatedCointaner {
  width: 1200px;
  max-width: 1200px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px;
  scroll-behavior: smooth;
  position: relative;

  z-index: 0;
}

.circle {
  margin: 300px 0px;
}
.loadingImg {
  width: 99.3vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.back {
  outline: none;
  cursor: pointer;
  background-color: #ffeaa700;
  color: #eaeaea;
  margin: 80px 0px;
  height: 40%;
  border-radius: 5%;
  border: 1px solid #8f9092;
  transition: all 0.1s ease-in-out;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.back:hover {
  color: #fdde76;
  background: rgba(170, 170, 170, 0.062);
}

.bottomContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
}
