.card {
  width: 260px;
  height: 400px;
  text-align: center;
  border: 1px solid #011522;
  background: linear-gradient(0deg, #673573, #1f0f23);
  margin: 19px 10px;
  /* padding: 6px; */
  transition: all 0.2s ease;
}
.card:hover {
  box-shadow: 0px 0px 20px 1px #ffbb763f;
  border: 1px solid rgba(255, 255, 255, 0.6);
  transform: translateY(-10px);
}

.card:hover .name {
  text-shadow: #202020 0px 0px 5px, #ff2d95 0px 0px 6px, #ff2d95 0px 0px 15px,
    #ff2d95 0px 0px 30px, -40px -40px 0px rgba(0, 0, 0, 0);
}

.card img {
  width: 100%;
  margin-bottom: 10px;
}

.card .name {
  font-family: Impact, sans-serif;
  font-size: 20px;
  letter-spacing: 2.8px;
  word-spacing: 2.2px;
  color: #ffffff;
  font-weight: 400;
  text-shadow: #202020 0px 0px 5px, #ff2d95 0px 0px 6px, #ff2d95 0px 0px 11px,
    -40px -40px 0px rgba(206, 89, 55, 0);
  color: #ffffff;
  /* transition: opacity .3s; */
}

.genres {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 13px;
  letter-spacing: 0.2px;
  word-spacing: 2px;
  color: rgb(215, 168, 49);
}
