body {
  /* background-color: #030f17; */
  background-color: #101010;
  background-position: center;
  background-size: cover;
  display: flex;
}

.body {
  display: inline-flex;
  padding-top: 70px;
}

.body .orderbox {
  width: 400px;
  height: 400px;
  text-align: center;
  border: 1px solid aqua;
}

.orderbox .text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid black;
  color: antiquewhite;
}


.container {

  width: 100%;
  max-width: 1300px;
  height: auto;
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  scroll-behavior: smooth;
}
