body {
  background-color: #151515f7;
  background-position: center;
  background-size: cover;
  display: flex;
}
::-webkit-scrollbar {
  width: 10px;

}
::-webkit-scrollbar-track{
  background: rgba(140, 140, 140, 0);
  visibility: hidden;
} 
::-webkit-scrollbar-thumb{
  background: #606060a0;
  border-radius: 5px;
}

.body {
  display: inline-flex;
  padding-top: 70px;
}

.body .orderbox {
  width: 400px;
  height: 400px;
  text-align: center;
  border: 1px solid aqua;
}

.orderbox .text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid black;
  color: antiquewhite;
}


.container {

  width: 100%;
  max-width: 1300px;
  height: auto;
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  scroll-behavior: smooth;
}
