.pagination {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 70px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid pink;

  position: relative;
  z-index: 1;

}
