.body {
  display: flex;
  justify-content: center;
}
.mainContainer {
  margin: 100px 0px;
  padding-top: 20px;
  position: relative;
  left: 370px;
  display: inline-flex;
  justify-content: center;
  width: 800px;
  border-radius: 30px;
  background-color: #333333;
}
.title {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 24px;
  letter-spacing: 2px;
  word-spacing: 4px;
  color: #ffffff;
  font-weight: 200;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
  margin: 30px 0px;
  letter-spacing: 2px;
}
.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: auto;
  width: 500px;
}

.nameReleased {
  display: flex;
}

.imgGenre {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  /* border: 1px solid red; */
}
.ratingPlat {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.rating {
  border: none;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  justify-content: center;
  border-radius: 4px;
  padding: 5px;
  background-color: #ffffff;
  margin: 15px 0px;
  font-size: medium;
  width: 490px;
  transition: all 0.2s ease;
}

.input {
  border: none;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: 450;
  border-radius: 4px;
  padding: 5px;
  background-color: #ffffff;
  margin: 15px 0px;
  font-size: medium;
  width: 490px;
  transition: all 0.2s ease;
}

.submitContainer {
  position: relative;
  display: flex;
  justify-content: center;
  width: 500px;
  text-align: center;
  margin: 15px 0px;
}

.description {
  border-radius: 4px;
  padding: 5px;
  background-color: #ffffff;
  margin: 12px 0px;

  border: none;
  font-size: medium;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  resize: none;
  width: 490px;
  height: 70px;
  word-wrap: break-word;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  transition: all 0.2s ease;
}

.descriptionError {
  position: relative;
  left: 40px;
}

.select {
  height: 25px;
  border-radius: 3px;
  width: 500px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: 500;
  resize: none;
  letter-spacing: 5px;
  margin: 10px 0px;
  text-align: center;
  color: #444444;
}
.genres {
  font-weight: bold;
}
.input,
.rating,
.description:focus {
  outline-color: rgb(149, 54, 54);
}

.error, .errorP, .errorG {
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;
  letter-spacing: 1px;
  word-spacing: 4px;
  color: #ff4343;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  position: absolute;
}
.error{
  bottom: -5px;
  left: 20px; 
}
.errorP {
  bottom: -40px;
  left: 20px;
}
.errorG {
  bottom: -40px;
  left: 20px;
}

.inputContainer {
  height: 80px;
  width: 100%;
  position: relative;
}
.selectContainer {
  height: 100px;
  width: 100%;
  position: relative;
  margin: 10px 0px;
}

.descriptionContainer {
  height: 122px;
  position: relative;
}
.max {
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;
  letter-spacing: 1px;
  word-spacing: 4px;
  color: #ff4343;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  position: absolute;
  bottom: -35px;
  left: 177px;
}

.platformContainer {
  position: relative;
  width: 100%;
}

.submit {
  cursor: pointer;
  padding: 17px 40px;
  margin: 50px;
  border-radius: 15px;
  font-weight: bold;
  border: 0;
  background-color: rgb(66, 51, 95);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.1s ease-in-out;
}

.submit:hover {
  letter-spacing: 3px;
  background-color: #ffeba7;
  color: hsl(0, 0%, 19%);
}

.submit:active {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  transform: translateY(5px);
  transition: 100ms;
}

.selected {
  display: flex;
  justify-content: center;
  border-radius: 25px;
  min-height: 30px;
  height: auto;
  flex-wrap: wrap;
  position: relative;
  width: 480px;
  margin: 10px 0px;
  padding: 0px 10px;
  align-items: center;
  color: #ffffff;
  background-color: rgb(123, 123, 123);
}

.x {
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid white;
  margin: 4px;
  color: white;
  background-color: rgb(78, 78, 78);
  transition: all 0.1s ease;
}

.x:hover {
  color: white;
  background-color: rgb(255, 0, 0);
}

