.body{
display: flex;
justify-content: center;
}
.mainContainer {
  margin: 100px 0px;
  padding-top: 20px;
  position: relative;
  left: 370px;
  display: inline-flex;
  justify-content: center;
  width: 800px;
  /* border: 1px solid red; */
  border-radius: 30px;
  background-color: #333333;
  /* background-image: url(../../image/asd.jpg); */
  /* background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(182, 182, 182, 0.5)); */
  
}
.title{

  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 24px;
  letter-spacing: 2px;
  word-spacing: 4px;
  color: #ffffff;
  font-weight: 200;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
  margin: 30px 0px;
  letter-spacing: 2px;

}
.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid blue; */

  height: auto;
  width: 500px;
}

/* 
.form {
  border: 2px solid rgb(32, 185, 18);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  scroll-behavior: smooth;

  z-index: 0;
} */

.nameReleased {
  display: flex;
}

.imgGenre {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  /* border: 1px solid red; */
}
.ratingPlat {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.rating{
  border: none;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  justify-content: center;
  border-radius: 4px;
  padding: 5px;
  background-color: #ffffff;
  margin: 15px 0px;
  /* background: linear-gradient(to left, #cacaca, #f0f0f0); */
  font-size: medium;
  /* font-weight: bold; */
  width: 490px;
  transition: all 0.2s ease;
}

.input {
  border: none;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: 450;
  border-radius: 4px;
  padding: 5px;
  background-color: #ffffff;
  margin: 15px 0px;
  /* background: linear-gradient(to left, #cacaca, #f0f0f0); */
  font-size: medium;
  /* font-weight: bold; */
  width: 490px;
  transition: all 0.2s ease;
  
}

.submitContainer{
  position: relative;
/* border: 1px solid red; */
display: flex;
/* flex-direction: column; */
justify-content: center;
width: 500px;
text-align: center;
margin: 15px 0px;
}

.description {
  border-radius: 4px;
  padding: 5px;
  background-color: #ffffff;
  margin: 12px 0px;

  border: none;
  /* background: linear-gradient(145deg, #cacaca, #f0f0f0); */
  font-size: medium;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  resize: none;
  width: 490px;
  height: 70px;
  word-wrap: break-word;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  transition: all 0.2s ease;
}

.descriptionError {
  position: relative;
  left: 40px;
}

.select {
  height: 25px;
  border-radius: 3px;
  width: 500px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: 500;
  resize: none;
  letter-spacing: 5px;
  margin: 10px 0px;
  text-align: center;
  color: #444444;
  /* position: absolute; */
  /* top: 20px; */
  /* left: -48px; */

}
.genres {
  font-weight: bold;
}
.input, .rating,
.description:focus {
  /* box-shadow: 0px 0px 10px #bebebe, -3px -3px 5px #ffffff; */
  outline-color: rgb(149, 54, 54);
}

.error {
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;
  letter-spacing: 1px;
  word-spacing: 4px;
  color: #ff4343;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  position: absolute;
  bottom: -5px;
  left: 20px;
}


.inputContainer {
  /* border: 1px solid red; */
  height: 80px;
  width: 100%;
  /* border: 1px solid red; */
  position: relative;
  /* margin: 10px 0px; */
}
.selectContainer {
  
  height: 100px;
  width: 100%;
  /* border: 1px solid red; */
  position: relative;
  margin: 10px 0px;
}

.descriptionContainer {
  /* margin: 0px 0px 15px 0px; */
  /* border: 1px solid red; */
  height: 122px;
  position: relative;

}
.max{
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;
  letter-spacing: 1px;
  word-spacing: 4px;
  color: #ff4343;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  position: absolute;
  bottom: -35px;
  left: 177px;
}


.platformContainer{
  position: relative;
  width: 100%;
}


.submit {
  cursor: pointer;
  padding: 17px 40px;
  margin: 50px;
  border-radius: 15px;
  font-weight: bold;
  border: 0;
  background-color: rgb(66, 51, 95);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.1s ease-in-out;
}

.submit:hover {
  letter-spacing: 3px;
  background-color: #ffeba7;
  color: hsl(0, 0%, 19%);
}

.submit:active {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  transform: translateY(5px);
  transition: 100ms;
}


.selected {
  /* border: 1px solid rgb(255, 7, 7); */
  display: flex;
  justify-content: center;
  border-radius: 25px;
  min-height: 30px;
  height: auto;
  /* max-height: fit-content; */
  flex-wrap: wrap;
position: relative;
  width: 480px;
  margin: 10px 0px;
  padding: 0px 10px ;
  align-items: center;
color: #ffffff;
  background-color: rgb(123, 123, 123);
}


.x {

  cursor: pointer;
  border-radius: 5px;
  border: 1px solid white;
  margin: 4px;
  color: white;
  background-color: rgb(78, 78, 78);
  transition: all 0.1s ease;
}

.x:hover{
  color: white;
  background-color: rgb(255, 0, 0);
  
}

