.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 110px;
  transition: height 0.3s ease-in-out;
  position: fixed;
  z-index: 2;
}

.scrolled {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 67px;
  background: #151515ee;
  position: fixed;
  z-index: 2;
  transition: all 0.3s ease-in-out;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* border: 1px solid orange; */
  height: 100%;
  width: 25%;
}

.link{
  width: max-content;
  text-decoration: none;
}

.btn {
  display: inline-flex;
  align-items: center;
  width: max-content;
  cursor: pointer;
  margin: 0px 12px;
  border: none;
  border-radius: 7px;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  height: 55px;
  /* padding: 0.6em 1.2em; */
  padding: 0px 10px;
  background-color: #ffeaa700;
  color: #eaeaea;
  transition: border 0.1s ease-in-out;
  border: 1px solid rgba(92, 92, 92, 0);
  /* border: 1px solid blue; */
}

.btn:hover {
  border: 1px solid rgb(92, 92, 92);
  color: #fdde76;
  background: rgba(170, 170, 170, 0.062);
}
.subline{
  width: 100%;
  height:50%;
  /* border: 1px solid red; */
  display: flex;
  align-items: flex-end;
}
.icon{
width: 30px;
height: 30px;
margin-right: 4px;
/* margin: 1px 0px; */
}

.containerWrapperList {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

.wrapperList {
  width: 330px;
  height: 430px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
}
.wrapperList:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.buttonContainer {
  border: 1px solid rgb(66, 60, 60); /* linea de borde */
  background-color: rgb(158, 154, 150); /* Color de fondo */
  border-radius: 10px; /* Bordes redondeados */
  width: 180px; /* Ancho */
  padding: 10px;
  box-shadow: 0, 0, 50px black; /* Sombra */
}

.name {
  font-weight: 600;
}

.info {
  display: flex;
  justify-content: space-around;
}

.img {
  width: 95%;
  border: 1px solid rgb(66, 60, 60); /* linea de borde */
  border-radius: 10px; /* Bordes redondeados */
}

.buttonContainer {
  display: flex; /* Ponerlo a un costado y asi poder usar flex-end */
  justify-content: flex-end; /* flex-end; Ponerlo al final en este caso a la derecha */
}

.buttonContainer button {
  margin: 3px, 3px, 0, 0; /* Se le da un margen al boton y se empieza desde arriba */
  border: 1px solid rgb(66, 60, 60); /* linea de borde */
  background-color: rgb(216, 69, 69);
  color: antiquewhite;
  border-radius: 4px; /* Bordes redondeados */
}

